asgiref==3.2.10
bandit==1.7.4
cffi==1.15.0
cryptography==37.0.2
cycler==0.10.0
dj-database-url==0.5.0
Django==3.0.7
django-heroku==0.3.1
fonttools==4.33.3
gitdb==4.0.9
GitPython==3.1.27
gunicorn==20.0.4
kiwisolver==1.4.3
matplotlib==3.5.2
numpy==1.22.4
packaging==21.3
pbr==5.9.0
Pillow==9.1.1
psycopg2==2.8.5
pycparser==2.21
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==6.0
six==1.15.0
smmap==5.0.0
sqlparse==0.3.1
stevedore==3.5.0
whitenoise==5.1.0
